body {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

h1, h2 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  border-radius: 6px;
}

#nounderline {
  text-decoration: none;
  color: #fff;
}

#goals {
  width: 50%;
}

.eventsandnews, .didyouknow, .ourgoals, .aboutgenderequality, .ourwork,
.contactus, .aboutus {
  border-color: black;
  border-style: double;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

@import url
('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  padding: 0;
}

@media (max-width: 480px) {
  #frontimg {
    display: none;
  }

  .eventsandnews, .didyouknow, .ourgoals, .aboutgenderequality, .ourwork,
  .contactus, .aboutus {
    width: 100%;
  }
}

.navbar {
  background-color: #3a00ff;
  color: white;
  height: auto;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  overflow: auto;
  width: 100%;
}

.donation {
  position: absolute;
  width: 30%;
}

p {
  font-family: helvetica;
  font-size:20px;
}
